
.fas.fa-shopping-cart {
    color: white;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

 .nav-scrollable {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
