.cartPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cartWithProducts {
    width: 500px;
    height: 650px;
    background: rgb(243, 243, 243);
    box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottomSection {
    display: flex;
    justify-content: flex-end;
}

.clearFromCartBtn {
    height: 50px;
    width: 200px;
    border: none;
    color: white;
    background: black;
    font-size: 18px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
