.cartPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cartWithProducts {
    width: 500px;
    height: 650px;
    background: rgb(243, 243, 243);
    box-shadow: 12px 12px 12px 1px rgba(0, 0, 255, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bottomSection {
    display: flex;
    justify-content: space-between;
}

.clearFromCartBtn {
    height: 50px;
    width: 200px;
    border: none;
    color: white;
    background: black;
    font-size: 18px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.continueFromCartBtn {
    height: 50px;
    width: 200px;
    border: none;
    color: white;
    background: green;
    font-size: 18px;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputs {
    height: 25px;
    margin-bottom: 25px;
}