body {
}


.products img {
    height: 250px;
    width: 250px;
    background: rgb(230, 230, 230);
    object-fit: contain;
    margin-bottom: 15px;
}

.productpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products {
    width: 250px;
    margin-bottom: 45px;
}

.productinfo {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.productinfo p {
    margin: 0px;
}

.price {
    font-weight: 700;
}

.addToCartBtn {
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 17px;
    cursor: pointer;
    height: 30px;
}