body {
}


.products img {
    height: 250px;
    width: 250px;
    background: rgb(230, 230, 230);
    object-fit: contain;
    margin-bottom: 15px;
}

.productpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    
}

.products {
    width: 250px;
    margin-bottom: 45px;
}

@media (max-width: 768px) {
    .productpage {
        justify-content: center;
        margin-top: 25px;
    }
}

.productinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.productinfo p {
    margin: 0;
}

.price {
    font-weight: 700;
    margin-top: 15px !important;
}

.productBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.addToCartBtn {
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 13px;
    cursor: pointer;
    height: 30px;
}

.productLinkBtn {
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 13px;
    cursor: pointer;
    height: 30px;
}