@page "/products"
@rendermode InteractiveServer
@using ClassLibrary
@using BackEnd
@inject CartService CartService

<div class="main">
	<div class="productpage">
		@foreach (var product in ProductData.GetProducts())
		{
			<div class="products">
				<div>
					<a><img src=@product.ImgURL /></a>
				</div>
				<div class="productinfo">
					<div>
						<p>@product.Name</p>
						<p class="price">@product.Price&nbsp;kr</p>
					</div>
					<div class="productBtns">
						<NavLink href="@($"/products/{product.Id}")">
							<button class="productLinkBtn">
								Gå till produkt
							</button>
						</NavLink>
						<button class="addToCartBtn" @onclick="() => CartService.AddToCart(product)">Lägg till i varukorg</button>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@code {


}
